.completed{
  text-decoration: line-through;
  color:#797979;
}
.mat-column-color{
  width:1%;
}
.mat-column-id{
  width: 4%;
  text-align: center;
}
.mat-column-title{
  width: 40%;
}
.mat-column-date{
  width: 10%;
}

.mat-column-priority{
  width: 10%;
}

.mat-column-category{
  width: 10%;
}

